---
active_directory_authority_url: "{{getenv "ACTIVE_DIRECTORY_AUTHORITY_URL"}}"
resource_manager_url: "{{getenv "RESOURCE_MANAGER_URL"}}"
credentials:
  subscription_id: {{getenv "SUBSCRIPTION_ID"}}
  client_id: {{getenv "CLIENT_ID"}}
  client_secret: {{getenv "CLIENT_SECRET"}}
  tenant_id: {{getenv "TENANT_ID"}}

targets:
  - resource: "{{getenv "AZURE_RESOURCE_ID"}}"
    metrics:
    - name: "{{getenv "TARGETS_METRICS_NAME"}}"
  
#resource_groups:
#  - resource_group: "webapps"
#    resource_types:
#    - "Microsoft.Compute/virtualMachines"
#    resource_name_include_re:
#    - "testvm.*"
#    resource_name_exclude_re:
#    - "testvm12"
#    metrics:
#    - name: "{{getenv "RESOURCE_GROUPS_TARGETS_METRICS_NAME"}}"

resource_tags:
  - resource_tag_name: "{{getenv "RESOURCE_TAG_NAME"}}"
    metrics:
    - name: "{{getenv "RESOURCE_TAGS_METRICS_NAME"}}"
